<div class="header-wrap">
    <div class="header">
        <div class="logo">
            <a href="{{baseurl}}/bybbs/index.html" name="top">
                <img src="{{baseurl}}/bybbs/static/img/logo.png" height="45">
            </a>
        </div>

        <div class="scbox">
            <form role="search" method="get" id="searchform" action="https://github.com/{{ site.github.repository_nwo }}/search" target="_blank">
                <input type="text" maxlength="30" placeholder="Search in GitHub🔍" name="q" id="q">
            </form>
        </div>

        <div class="c"></div>
    </div>
</div>
